$icon-font-path: '~bootstrap-sass/assets/fonts/bootstrap/';
@import '~bootstrap-sass/assets/stylesheets/bootstrap/';

.col-md-4.box {
  width: 100px;
  height: 100px;
  color: blue;
  border: 2px solid grey;
  text-align: center;
  font-size: 24px;


}
.row {
  display: flex;
}

body {
width: 500px;
height: 500px;
background-color: yellow;
}

.container-fluid {
  padding-left: 50px;

}
