$icon-font-path: '~bootstrap-sass/assets/fonts/bootstrap/';
@import '~bootstrap-sass/assets/stylesheets/bootstrap/';

$maroon: #800000;

.box {
  border: 2px solid $maroon;
  color: $maroon;
  font-size: 40px;
  height: 100px;
  margin: 1px;
  text-align: center;
  width: 100px;
  padding-top: 20px;
}

.row {
  display: flex;

}

body {
  background-color: grey;
  height: 800px;
  width: 800px;
}

// .container-fluid {
//   padding-left: 50px;
// }

h1 {
  color: maroon;
  padding-bottom: 50px;
  padding-top: 50px;
  text-align: center;
  font-family: fantasy;

}

.game-data {
  color: white;
  font-size: 44px;
  border: 1px solid black;
  height: 50px

}

// .game-board {
//   margin: auto;
// }
